#{extends 'main.html' /}
#{set title:'Edit Person' /}

<h1>Edit Person</h1>

#{form @People.update(), role:"form"}

  #{if person.id}
    <input type="hidden" name="person.id" value="${person.id}" />
  #{/if}
  
  <div class="form-group">
    <label>Name</label>
    <input type="text"
	   name="person.name"
	   value="${person.name}"
	   class="form-control${errors.forKey('person.name') ? ' required' : ''}"
	   />
    <p class="help-block error">#{error 'person.name' /}</p>
  </div>
  
  <div class="form-group">
    <label>Company</label>
    #{play12cay.select 'person',
                       obj:person,
                       rel:'company',
                       items:companies,
                       labelProperty:'name',
                       noSelectLabel:'- no company -',
                       class:'form-control'
                       /}
  </div>

  <a href="@{People.index()}" class="btn btn-default">Cancel</a>
  <input type="submit" value="OK" class="btn btn-success" />

#{/form}
